.bad-button {
  padding: 6px 16px;
  border: 1px solid #446d88;
  /* background: #58a linear-gradient(#77a0bb, #58a);
  border-radius: 4px;
  box-shadow: 0 1px 5px gray;
  color: white;
  text-shadow: 0 -1px 1px #335166; */
  /* 把半透明的白色或者黑色叠加在主色调上，就可以产生主色调的亮色和暗色变体 */
  background: #58a linear-gradient(hsla(0, 0%, 100%, 0.2));
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 30px;
}

.good-button {
  /* 2px ~= 0.1em */
  padding: 0.3em 0.8em;
  border: 1px solid #446d88;
  /* background: #58a linear-gradient(#77a0bb, #58a);
   border-radius: .2em; 
   box-shadow: 0 .05em .25em gray;
   color: white;
   text-shadow: 0 -.05em .05em #335166; */
  /* 把半透明的白色或者黑色叠加在主色调上，就可以产生主色调的亮色和暗色变体 */
  background: #58a linear-gradient(hsla(0, 0%, 100%, 0.2));
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);

  font-size: 125%; /* 假设父级的字号是16px */
  line-height: 1.5; /* 这里是字体和行高的关系 */
}

button.cancel {
  background-color: #c00;
}

button.ok {
  background-color: #6b0;
}
